#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
}

.content {
  min-height: 500px;
  text-align: left;
  background-color: #f5d0b6;
  color: #000;
  font-size: 1.2rem;
  /* border-radius: 5px; */
  text-indent: 5px;
  padding: 10px;
}

.content:focus {
  outline: none;
}


