#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 1rem; */
  text-align: center;
}

.content {
  min-height: calc(100vh - 300px);
  max-width: 500px;
  text-align: left;
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  border-radius: 10px;
  text-indent: 5px;
  padding: 10px;
  margin: auto;
}

.content:focus {
  outline: none;
}

select {
  margin: 10px;
}


